.dropDown {
	position: absolute;
	z-index: 100;
	top: calc(100% + 5px);
	right: calc(100% - 30px);

	min-width: 200px;
	padding: 10px;

	text-align: center;

	border-radius: 5px;
	background: #FFF;
}

.dropList {
	list-style: none;
}

.dropItem:nth-child(2) {
	margin: 10px 0;
}

.active {
	display: block;
}

.hide {
	display: none;
}

.profileLink {
	padding: 5px 60px;

	text-decoration: none;

	color: #AB570E;
}

.profileLink:hover {
	color: #FFF;
}
