
.paginationBtns {
	display: flex;
	align-items: center;
	justify-content: flex-end;

	width: 100%;
	height: 40px;
	margin-top: 20px;

	list-style: none;
}

.paginationBtns a {
	margin: 5px;
	padding: 3px 6px;

	cursor: pointer;

	color: #351D08;
	border: 1px solid #351D08;
	border-radius: 5px;
}

.paginationActive a {
	color: #FFF;
	background: #351D08;
}

.paginationBtns a:hover {
	color: #FFF;
	background: #351D08;
}
