.articleMain {
	display: flex;
	flex: 1 1;
	flex-direction: column;

	max-width: 1170px;
	margin: 0 auto;
	padding: 20px 15px;
}

.commentLInk {
	width: 100%;
	min-height: 50px;
	margin: 15px 0;
	padding: 20px 20px 40px 20px;

	text-align: center;

	border-radius: 5px;
	box-shadow: rgb(203 211 212 / 50%) 0 2px 12px 0;
}

.signUpLink {
	text-decoration: none;

	color: rgb(245, 50, 50);
}

.signUpLink:hover {
	text-decoration: underline;
}

@media screen and (max-width: 425px) {
	.articleMain {
		margin: 0;
	}
}
