.button {
    display: flex;
    align-items: center;
    border: none;
    font-family: 'Neucha', cursive;
    background: none;
    font-weight: bold;
    border: 1px solid #ab570e;
    padding: 5px;
    border-radius: 5px;
    color: #ab570e;
    cursor: pointer;
}

.button[data-btn-img='true'] {
    width: 40px;
    height: 40px;
    border: none;
}

.button[data-btn-name='true'] {
    border: none;
}

.button[data-btn-more='true'] {
    color: blue;
    border: none;
}

.button[data-tegs-btn='true'] {

    margin: 0px 5px 5px 0px;
    border: 1px solid #ab570e;
}

.button[data-tegs-btn='true']:hover {
    background: #ab570e;
    color: #fff;
}

.button[data-show-tegs] {
    border: none;
    color: blue;
}

.button[data-login-btn='true'] {
    border-radius: 50px;
    background: #d4d4d4;
    padding: 7px;
    border: rgb(61, 72, 73);
}


.button[data-log-in='true'],
.button[data-sign-up='true'] {
    justify-content: center;
	width: 100%;
	border: #fbfbfb solid 4px;
	cursor:pointer;
	background-color: #351d08;
	color:white;
	font-size:24px;
	padding-top:22px;
	padding-bottom:22px;
	transition: all 0.3s;
    margin-top: 10px;
    font-weight:700;
}

.button[data-create-article='true'] {
    justify-content: center;
    width: 100%;
    height: 45px;
    cursor:pointer;
	background-color: #351d08;
	color:#fff;
    margin-top: 30px;
}

.button[data-drop-btn='true'] {
    width: 100%;
    display: block;
    text-align: center;
}

.button[data-drop-out-btn='true'] {
    width: 100%;
    display: block;
    text-align: center;
    border: none;
    background: tomato;
    color: #fff;
}

.button[data-drop-out-btn='true']:hover {
    opacity: 0.7;
}

.button[data-drop-btn='true']:hover {
    background: #ab570e;
    color: #fff;
}

.button[data-log-in]:hover,
.button[data-sign-up]:hover,
.button[data-create-article='true']:hover {
    background-color: #fff;
	color: #351d08;
}

.button[data-close-btn='true'] {
    border: none;
    margin: 0 0 0 auto;
}