.button {
	display: flex;
	align-items: center;

	padding: 5px;

	cursor: pointer;

	color: #AB570E;
	border: none;
	border: 1px solid #AB570E;
	border-radius: 5px;
	background: none;

	font-family: 'Neucha', cursive;
	font-weight: bold;
}

.button[data-btn-img='true'] {
	width: 40px;
	height: 40px;

	border: none;
}

.button[data-btn-name='true'] {
	border: none;
}

.button[data-btn-more='true'] {
	color: blue;
	border: none;
}

.button[data-tegs-btn='true'] {
	margin: 0 10px 10px 0;

	border: 1px solid #AB570E;
}

.button[data-edit-profile='true'] {
	justify-content: center;

	margin-right: 10px;
	padding: 5px 30px;
}

.button[data-tegs-btn='true']:hover,
.button[data-edit-profile='true']:hover {
	color: #FFF;
	background: #AB570E;
}

.button[data-show-tegs] {
	color: blue;
	border: none;
}

.button[data-login-btn='true'] {
	justify-content: center;

	width: 40px;
	height: 40px;
	padding: 0;

	border: rgb(61, 72, 73);
	border-radius: 50px;
	background: #D4D4D4;
}

.button[data-log-in='true'],
.button[data-sign-up='true'] {
	justify-content: center;

	width: 100%;
	margin-top: 10px;
	padding-top: 22px;
	padding-bottom: 22px;

	cursor: pointer;
	transition: all 0.3s;

	color: white;
	border: #FBFBFB solid 4px;
	background-color: #351D08;

	font-size: 24px;
	font-weight: 700;
}

.button[data-log-in='false'],
.button[data-sign-up='false'] {
	justify-content: center;

	width: 100%;
	margin-top: 10px;
	padding-top: 22px;
	padding-bottom: 22px;

	cursor: pointer;
	transition: all 0.3s;

	color: #FFF;
	border: #FBFBFB solid 4px;
	background-color: rgb(245, 50, 50);

	font-size: 24px;
	font-weight: 700;
}

.button[data-create-article="false"] {
	justify-content: center;

	width: 100%;
	height: 45px;
	margin-top: 30px;

	cursor: pointer;

	color: #FFF;
	background-color: rgb(245, 50, 50);
}

.button[data-create-article='true'] {
	justify-content: center;

	width: 100%;
	height: 45px;
	margin-top: 30px;

	cursor: pointer;

	color: #FFF;
	background-color: #351D08;
}

.button[data-drop-btn='true'] {
	display: block;

	width: 100%;

	text-align: center;
}

.button[data-drop-out-btn='true'] {
	display: block;

	width: 100%;

	text-align: center;

	color: #FFF;
	border: none;
	background: tomato;
}

.button[data-drop-out-btn='true']:hover {
	opacity: 0.7;
}

.button[data-comment-btn='true'] {
	width: max-content;
	margin: 20px 0 20px auto;
}

.button[data-drop-btn='true']:hover,
.button[data-comment-btn='true']:hover {
	color: #FFF;
	background: #AB570E;
}

.button[data-log-in]:hover,
.button[data-sign-up]:hover,
.button[data-create-article='true']:hover {
	color: #351D08;
	background-color: #FFF;
}

.button[data-log-in='false']:hover,
.button[data-sign-up='false']:hover,
.button[data-create-article="false"]:hover {
	color: #FFF;
	background-color: rgb(245, 50, 50);
}

.button[data-close-btn='true'] {
	margin: 0 0 0 auto;

	border: none;
}

.button[data-comment-btn='false'] {
	width: max-content;
	margin: 20px 0 20px auto;

	color: #FFF;
	background-color: rgb(245, 50, 50);
}

.button[data-delete-comment='true'] {
	color: #FFF;
	background-color: rgb(245, 50, 50);
}

.button[data-edit-article='true'] {
	margin-right: 5px;

	color: #AB570E;
	background-color: #FFF;
}

.button[data-edit-article='true']:hover {
	color: #FFF;
	background-color: #AB570E;
}
