.body {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.container {
    width: 1170px;
    margin: 0 auto;
    padding: 20px 0;
}

.noArticles {
    margin-top: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: 700;

}