.body {
	display: flex;
	flex: 1 1 0%;
	flex-direction: column;
}

.bodyContainer {
	display: flex;
	flex: 1;

	max-width: 1170px;
	margin: 0 auto;
	padding: 20px 20px;
}

.noArticles {
	margin-top: 20px;

	text-align: center;

	font-size: 24px;
	font-weight: 700;
}

.main {
	flex: 1;
}

@media screen and (max-width: 425px) {
	.bodyContainer {
		flex-direction: column-reverse;
	}
}
