.profile {
    width: 1170px;
    margin: 0px auto;
    flex: 1;
}

.profileBox {
    display: flex;
    width: 100%;
    height: 200px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(203 211 212 / 50%) 0px 2px 12px 0px;
}

.imageBlock {
    width: 120px;
    height: 120px;
    margin-bottom: 15px;
}

.profileChange {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-right: 20px;
}

.name {
    margin-bottom: 15px;
    font-size: 24px;
    font-weight: 600;
}

.bio {
    font-size: 14px;
}