.header {
	width: 100%;

	background: #351D08;
}

.headerContainer {
	display: flex;
	align-items: center;
	justify-content: space-between;

	max-width: 1170px;
	margin: 0 auto;
	padding: 15px 15px;
}

.menu {
	display: flex;
	align-items: center;

	list-style: none;
}

.menuList {
	padding: 10px 15px;
}

.menuLink {
	text-decoration: none;

	opacity: 0.6;
	color: rgb(243, 235, 235);

	font-weight: bold;
}

.link {
	text-decoration: none;

	color: #828080;

	font-weight: normal;
}

.link:hover {
	color: #FFF;
}

.active {
	text-decoration: none;

	color: #FFF;

	font-weight: bold;
}

.loginBlock {
	position: relative;

	display: flex;
	align-items: center;
}

.userName {
	margin-left: 5px;

	color: #FFF;
}

@media screen and (max-width: 425px) {
	.headerContainer {
		flex-direction: column;
	}

	.navMenu {
		width: 100%;
	}

	.menu {
		justify-content: space-evenly;
	}
}
