.header {
    width: 100%;
    background: #351d08;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1170px;
    margin: 0 auto;
    padding: 15px 0;
}

.menu {
    list-style: none;
    display: flex;
    align-items: center;
}

.menuList {
    padding: 10px 15px;
}

.menuLink {
    font-weight: bold;
    color:white;
    opacity: 0.6;
    text-decoration: none;
}
.link {
    font-weight: normal;
    text-decoration: none;
    color: #828080;
}

.link:hover {
    color: #fff;
}

.active {
    font-weight: bold;
    text-decoration: none;
    color: #fff;
}

.loginBlock{
    position: relative;
    display: flex;
    align-items: center;
}

.userName {
    margin-left: 5px;
    color: #fff;
}
