.tegs {
	width: 100%;
	height: auto;
	margin-left: 20px;
	padding: 10px;

	box-shadow: rgb(203 211 212 / 50%) 0 2px 12px 0;
}

.title {
	margin-bottom: 10px;

	font-size: 16px;
	font-weight: 700;
}

.tegBox {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

@media screen and (max-width: 425px) {
	.tegs {
		margin: 0;
	}
}
