.footer {
	width: 100%;

	background: #351D08;
}

.footerContainer {
	display: flex;
	align-items: center;
	justify-content: space-between;

	max-width: 1170px;
	margin: 0 auto;
	padding: 10px 15px;
}

.copirate {
	display: flex;
	align-items: center;
}

.copirateText {
	margin-left: 15px;

	color: #FFF;

	line-height: 0;
}

.author {
	color: #FFF;
}

@media screen and (max-width: 425px) {
	.footerContainer {
		flex-direction: column;

		text-align: center;
	}

	.copirate {
		display: block;
	}

	.copirateText {
		margin: 15px 0;
	}
}
