.titleImage {
    display: flex;
    align-items: center;
    width: 100%;
    height: 300px;
    background: url('../../../static/images/keyboard.jpg') center center / cover no-repeat;
}

.titleBlock{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    margin: 0 auto;
    padding: 0 15px;
}

.titleText{
    font-size: 32px;
    color: #333;
    text-align: center;
    margin-bottom: 30px;
}